body {
  width: 100%;
  height: 100%;
}

.btn-info {
	border-radius: .25em;
}

li {
	padding-bottom: .5em;
	font-size: 1.125em;
}

.orderdList {
	padding-top: 2em;
	border-top: 1px dashed grey;
	margin-top: 3em;
}

.over_limit {
	color: grey;
}

.validation {
    color: #ad4545;
    font-weight: bold;
    text-align: center;
    padding: .25em;
    border-radius: .25em;
}

.message_text {
	border-top: 1px dashed grey;
	padding-top: 1em;
	margin-top: 2em;
}

.message_text span {
	font-weight: bold;
}